<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>

    <script type="text/javascript">

      function assignClass(obj){
        teacherId = obj.getAttribute("teacher_id");
        window.location = "/teacher/assign_me_class?teacher_id=" + teacherId;
      }

      function loadSearchResults(){
        firstName = document.getElementById('fname_search').value;
        lastName = document.getElementById('lname_search').value;
        gender = document.getElementsByClassName('gender_search')[0].value;
        jQuery.ajax({
          type: "POST",
          url: "/teacher/search_teachers",
          data: "first_name=" + firstName + "&last_name=" + lastName + "&gender=" + gender,
          success: function(results){
            //results = eval("(" + results  + ")");
            html = "";
            tbody = document.getElementById("teachers");

            for (var teacher_id in results){
              firstName = results[teacher_id]["fname"];
              lastName = results[teacher_id]["lname"];
              gender = results[teacher_id]["gender"];
              phone = results[teacher_id]["phone"];
              email = results[teacher_id]["email"];
              dob = results[teacher_id]["dob"];
              join_date = results[teacher_id]["join_date"];
              html+="<tr>";
              html+="<td style='text-align:left; padding: 0.833em 0 0.833em 1.25em;'>" + firstName + ' ' + lastName +  "</td>";
              html+="<td><a href='#'>" + email +  "</a></td>";
              html+="<td>" + gender +  "</td>";
              html+="<td>" + dob +  "</td>";
              html+="<td>" + phone +  "</td>";
              html+="<td>" + join_date +  "</td>";
              html+="<td><a teacher_id=" + teacher_id + " onclick='assignClass(this)' href='#' class='button round blue image-right ic-add text-upper'>Assign Class &nbsp;</a></td>";
              html+="</tr>";
            }

            tbody.innerHTML = html
          }

      });

  }
    </script>

    <style>
      #search-teacher-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 5px;
        width: 98.7%;
      }
      #search-teacher-form legend {
        color: #abda0f;
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
      }
      #search-teacher-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 140px;
        padding: 3px;
        font-size: 14px;
      }


      table td #simple-input, #password, #confirm{
        float: right;
      }

      table label{
       text-align: left;
      }
      #simple-input, #password, #confirm {
        font-size: 10pt !important;
      }

    #registration input[type="text"], input[type="password"], textarea {
        border: 1px solid #d9dbdd;
        outline: medium none;
        padding: 0.5em 0.225em;
    }
    input[type="submit"] {
      margin-left: 37%;
    }
    table th:first-child {
        border-style: none none none !important;
    }
    </style>
  </head>
  <body >

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Student Management</a>
            <ul>
              <li><a href="/student/registration_menu">Registration/Admission</a></li>
              <li><a href="/punishments/behavior_management_menu">Behavior Management</a></li>
              <li><a href="/student/examination_results_menu">Examination results</a></li>
              <li><a href="/student/payments_management_menu">Payments Management</a></li>
              <li><a href="/student/id_cards_menu">Student ID cards</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/semester_statement_menu">Student semester statement</a></li>
              <li><a href="/student/warning_letters_menu">Warning letters for overdue students</a></li>
              <li><a href="/student/examination_results_menu">Examination Registration</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">School Administration</a>
            <ul>
              <li><a href="/admin/time_table_management_menu">Timetable management</a></li>
              <li><a href="/admin/subject_groups_management">Subject groups’ management</a></li>
              <li><a href="/admin/semester_management_menu">Semester/Term management </a></li>
              <li><a href="/admin/payments_overview_menu">Payments Overview</a></li>
              <li><a href="/admin/print_teacher_time_table">Print teacher's timetable</a></li>
              <li><a href="/admin/documents_management_menu">Documents management</a></li>
              <li><a href="/admin/barcode_scanning_menu">Barcode scanning functions (Ids)</a></li>
              <li><a href="#">Email functions</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">Employee Management</a>
            <ul>
              <li><a href="/employees/employee_registration_menu">Employee registration</a></li>
              <li><a href="/employees/employee_management_menu">Employee management</a></li>
              <li><a href="/employees/position_management_menu">Position management</a></li>
              <li><a href="#">Mini payroll</a></li>
            </ul>
          </li>
          <li class="v-sep"><a href="#" class="round button dark menu-settings image-left">System Administration</a>
            <ul>
              <li><a href="/user/user_management_menu">User management</a></li>
              <li><a href="/parent/parents_menu">Parents management</a></li>
              <li><a href="/admin/system_configuration_menu">System configuration/Administration</a></li>
              <li><a href="#">Fees management</a></li>
              <li><a href="/report/reports_generator_menu">Supper reports generator</a></li>
              <li><a href="/admin/backup_data_menu">Backup Settings</a></li>
            </ul>
          </li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/home" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/student/index" > Students</a></li>
          <li><a href="/parent/index">Parents</a></li>
          <li><a href="/teacher/index" class="active-tab">Teachers</a></li>
          <li><a href="/admin/research">Research</a></li>
          <li><a href="/examination/index">Exams</a></li>
          <li><a href="/class_room/index">Classes</a></li>
          <li><a href="/report/index">Reports</a></li>
          <li><a href="/semesters/index">Semester</a></li>
          <li><a href="/attendance/index">Daily Attendance</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/teacher/add_teacher/">Add Teacher</a></li>
            <li><a href="/teacher/edit_teacher/">Edit Teacher</a></li>
            <li><a href="/teacher/assign_class/">Assign Class</a></li>
            <li><a href="/teacher/remove_class/">Remove Class</a></li>
            <li><a href="/teacher/assign_subjects">Assign Subjects</a></li>
            <li><a href="/teacher/teacher_stats">Teacher Stats</a></li>
            <li><a href="/teacher/filter_teachers">Filter Teachers By</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Assign Class</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                  <div class="confirmation-box round">
                    <%= flash[:notice] %>
                  </div>
                <% end %>
                <% if flash[:error] %>
                  <div class="error-box round">
                      <%= flash[:error] %>
                  </div>
                <% end %>

              <form id="search-teacher-form" action="#">
                <fieldset>
                  <legend>Search</legend>
                  <div style="width:71%; margin-left:10%;">
                    <table>
                      <tr>
                        <td style="width:10%;">First Name</td>
                        <td style="width:10%;"><input type="text" id="fname_search"/></td>
                        <td style="width:10%;">Last Name</td>
                        <td style="width:10%;"><input type="text" id="lname_search"/></td>
                        <td style="width:10%;">Gender</td>
                        <td style="width:5%">
                          <select id="dropdown-actions" class="gender_search">
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="6"><a onclick="loadSearchResults();" href="#" class="button round blue image-right ic-search text-upper">Search</a></td>
                      </tr>
                    </table>
                  </div>
                </fieldset>
              </form>
              <table>

                <thead>

                  <tr>
                    <th style="min-width:15%;">Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Date Of Birth</th>
                    <th>Phone #</th>
                    <th>Date of Join</th>
                    <th style="min-width:10%;">Action</th>
                  </tr>

                </thead>

                <tbody id="teachers">
                  <% @teachers.each do |teacher| %>
                  <tr>
                    <td style="text-align:left; padding: 0.833em 0 0.833em 1.25em;"><%= teacher.fname.capitalize.to_s + ' ' + teacher.lname.capitalize.to_s %></td>
                    <td><a href="#"><%=  teacher.email %></a></td>
                    <td><%=  teacher.gender %></td>
                    <td><%=  teacher.dob.to_date.strftime("%d-%b-%Y") %></td>
                    <td><%=  teacher.phone %></td>
                    <td><%=  teacher.created_at.strftime("%d-%b-%Y") %></td>
                    <td>
                      <a teacher_id="<%= teacher.id %>" onclick="assignClass(this)" href="#" class="button round blue image-right ic-add text-upper">Assign Class &nbsp;</a>                      
                    </td>
                  </tr>
                  <% end %>
                </tbody>

              </table>

            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->


    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
            view : 'years',
            direction: ['<%=  (Date.today - 70.years).strftime("%Y-%m-%d") %>', '<%=  (Date.today - 12.years).strftime("%Y-%m-%d") %>']
      });

      function __$(id){
        return document.getElementById(id)
      }
    </script>
  </body>
</html>