<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">
      function selectAll(){
        selectAllInput = document.getElementById('table-select-all');
        inputs = document.getElementsByTagName("input");
        if (selectAllInput.checked){
          for (var i=0; i<=inputs.length - 1; i++){
            if (inputs[i] == selectAllInput) continue;
            if (inputs[i].type == 'checkbox'){
                inputs[i].checked = true;
            }
          }
         }
         else{
           for (var i=0; i<=inputs.length - 1; i++){
            if (inputs[i] == selectAllInput) continue;
            if (inputs[i].type == 'checkbox'){
                inputs[i].checked = false;
            }
          }
         }
      }

   function deleteSingleEntry(obj){
        classRoomID = obj.getAttribute('class_room_id')
        jQuery.confirm({
          title:"Delete confirmation",
          text:"This is very dangerous, you shouldn't do it! Are you really really sure?",
          confirm: function(button) {
            jQuery.ajax({
            type: "POST",
            url: "/teacher/remove_my_classes",
            data: "teacher_id=<%= params[:teacher_id] %>&class_room_id=" + classRoomID + "&mode=single_entry",
            success: function(){
              element = document.getElementById(classRoomID);
              element.parentNode.removeChild(element);
            }

            });
          },
          cancel: function(button) {

          },
          confirmButton: "Yes I am",
          cancelButton: "No"
       });
      }

      function deleteClasses(){
        inputs = document.getElementsByTagName("input");
        classRoomIDs = []
        for (var i=0; i<=inputs.length - 1; i++){
          if (inputs[i].type == 'checkbox'){
            if (inputs[i].checked){
              if (inputs[i].hasAttribute("class_room_id")){
                classRoomID = inputs[i].getAttribute("class_room_id");
                classRoomIDs.push(classRoomID);
              }
            }
          }
        }

        jQuery.ajax({
          type: "POST",
          url: "/teacher/remove_my_classes",
          data: "teacher_id=<%= params[:teacher_id] %>&class_room_ids=" + classRoomIDs,
          success: function(){
            for (var x=0; x<= classRoomIDs.length - 1; x++){
              id = classRoomIDs[x];
              element = document.getElementById(id);
              element.parentNode.removeChild(element);
            }
          }

        });
      }
      
    </script>

    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }
      
      #search-teacher-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 5px;
        width: 98.7%;
      }
      #search-teacher-form legend {
        color: #abda0f;
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
      }
      #search-teacher-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 140px;
        padding: 3px;
        font-size: 14px;
      }


      table td #simple-input, #password, #confirm{
        float: right;
      }

      table label{
       text-align: left;
      }
      #simple-input, #password, #confirm {
        font-size: 10pt !important;
      }

    #registration input[type="text"], input[type="password"], textarea {
        border: 1px solid #d9dbdd;
        outline: medium none;
        padding: 0.5em 0.225em;
    }
    input[type="submit"] {
      margin-left: 37%;
    }
    table th:first-child {
        border-style: none none none !important;
    }
    .label {
      border-radius: 1.5em;
      color: #fff;
      display: inline;
      background-color: #5bc0de;
      font-weight: bold;
      font-size: 1.2em;
      line-height: 1;
      padding-left: 20%;
      padding-right: 20%;
      padding-top:2%;
      padding-bottom:2%;
      text-align: center;
      vertical-align: baseline;
      white-space: nowrap;

}
    </style>
  </head>
  <body >

    <!-- TOP BAR -->
    <div id="top-bar">

      <div class="page-full-width cf">

        <ul id="nav" class="fl">

          <li class="v-sep"><a href="#" class="round button dark ic-left-arrow image-left">Go to website</a></li>
          <li class="v-sep"><a href="#" class="round button dark menu-user image-left">Logged in as <strong>admin</strong></a>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="/admin/settings">Settings</a></li>
              <li><a href="#">Change Password</a></li>
              <li><a href="#">Log out</a></li>
            </ul>
          </li>

          <li><a href="#" class="round button dark menu-email-special image-left">3 new messages</a></li>
          <li><a href="#" class="round button dark menu-logoff image-left">Log out</a></li>

        </ul> <!-- end nav -->


        <form action="#" method="POST" id="search-form" class="fr">
          <fieldset>
            <input type="text" id="search-keyword" class="round button dark ic-search image-right" placeholder="Search..." />
            <input type="hidden" value="SUBMIT" />
          </fieldset>
        </form>

      </div> <!-- end full-width -->

    </div> <!-- end top-bar -->



    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/admin/home" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/student/index" > Students</a></li>
          <li><a href="/parent/index">Parents</a></li>
          <li><a href="/teacher/index" class="active-tab">Teachers</a></li>
          <li><a href="/admin/research">Research</a></li>
          <li><a href="/examination/index">Exams</a></li>
          <li><a href="/class_room/index">Classes</a></li>
          <li><a href="/report/index">Reports</a></li>
          <li><a href="/student/my_results">My Results</a></li>
          <li><a href="/admin/time_table">Time Tables</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><img src="/images/company-logo.png" alt="Blue Hosting" /></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/teacher/add_teacher/">Add Teacher</a></li>
            <li><a href="/teacher/edit_teacher/">Edit Teacher</a></li>
            <li><a href="/teacher/assign_class/">Assign Class</a></li>
            <li><a href="/teacher/remove_class/">Remove Class</a></li>
            <li><a href="/teacher/assign_subjects">Assign Subjects</a></li>
            <li><a href="/teacher/teacher_stats">Teacher Stats</a></li>
            <li><a href="/teacher/filter_teachers">Filter Teachers By</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Assign Class</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                  <div class="confirmation-box round">
                    <%= flash[:notice] %>
                  </div>
                <% end %>
                <% if flash[:error] %>
                  <div class="error-box round">
                      <%= flash[:error] %>
                  </div>
                <% end %>

              <table class="classes">

                <thead>
                  <tr>
                    <th><input type="checkbox" id="table-select-all" onclick="selectAll();"/></th>
                    <th style="min-width:20%;">Class Name</th>
                    <th>Year</th>
                    <th>Grade</th>
                    <th style="max-width:10px;">Total Students</th>
                    <th style="max-width:10px;">Total Teachers</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tfoot>
                  <tr>
                    <td colspan="3" class="table-footer">
                      <a href="#" class="button round blue image-right ic-delete text-upper delete-multiple">Delete</a>
                    </td>
                  </tr>
                </tfoot>
                
                <tbody id="class_rooms">
                  <% @my_class_rooms.each do |class_room| %>
                  <tr id="<%= class_room.id %>">
                    <td><input type="checkbox" class_room_id="<%= class_room.id %>"/></td>
                    <td style="text-align:left; padding: 0.833em 0 0.833em 1.25em;"><%= class_room.name%></td>
                    <td><%=  class_room.year %></td>
                    <td><%= class_room.grade %></td>
                    <td><span class="label" style="margin-left:20%;"><%= class_room.class_room_students.count %></span></td>
                    <td><span class="label" style="margin-left:20%;"><%= class_room.class_room_teachers.count %></span></td>
                    <td>
                      <a class_room_id="<%= class_room.id %>" onmousedown="deleteSingleEntry(this)" href="#" class="table-actions-button ic-table-delete"></a>
                    </td>
                  </tr>
                  <% end %>
                </tbody>

              </table>

            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->



    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2012 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>
      <p><strong>SimpleAdmin</strong> theme by <a href="http://www.adipurdila.com">Adi Purdila</a></p>

    </div> <!-- end footer -->
    <%= javascript_include_tag("bootstrap") %>
    <script>
        $(".delete-multiple").confirm({
            title:"Delete confirmation",
            text:"This is very dangerous, you shouldn't do it! Are you really really sure?",
            confirm: function(button) {
              deleteClasses();
            },
            cancel: function(button) {

            },
            confirmButton: "Yes I am",
            cancelButton: "No"
        });

    </script>
  </body>
</html>