<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SimpleAdmin - Dashboard</title>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- jQuery & JS files -->

    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("script") %>
    <%= javascript_include_tag("gvalidator") %>
    <%= stylesheet_link_tag("style") %>
    <%= stylesheet_link_tag("metallic") %>
    <%= stylesheet_link_tag("gvalidator") %>
    <%= stylesheet_link_tag("bootstrap") %>

    <script type="text/javascript">

      function removeClass(obj){
        teacherId = obj.getAttribute("teacher_id");
        window.location = "/teacher/remove_my_classes?teacher_id=" + teacherId;
      }

      function loadSearchResults(){
        names = document.getElementById('name_search').value.split(/\W+/);
        firstName = names[0];
        lastName = names[1];
        if (typeof lastName == 'undefined'){
          lastName = '';
        }
        gender = document.getElementsByClassName('gender_search')[0].value;
        jQuery.ajax({
          type: "POST",
          url: "/teacher/search_teachers",
          data: "first_name=" + firstName + "&last_name=" + lastName + "&gender=" + gender,
          success: function(results){
            //results = eval("(" + results  + ")");
            html = "";
            tbody = document.getElementById("teachers");

            for (var teacher_id in results){
              firstName = results[teacher_id]["fname"];
              lastName = results[teacher_id]["lname"];
              gender = results[teacher_id]["gender"];
              if (gender == null) gender = '';
              phone = results[teacher_id]["phone"];
              if (phone == null) phone = '';
              email = results[teacher_id]["email"];
              if (email == null) email = '';
              dob = results[teacher_id]["dob"];
              join_date = results[teacher_id]["join_date"];
              html+="<tr>";
              html+="<td style='text-align:left; padding: 0.833em 0 0.833em 1.25em;'>" + firstName + ' ' + lastName +  "</td>";
              html+="<td><a href='#'>" + email +  "</a></td>";
              html+="<td>" + gender +  "</td>";
              html+="<td>" + dob +  "</td>";
              html+="<td>" + phone +  "</td>";
              html+="<td>" + join_date +  "</td>";
              html+="<td><a teacher_id=" + teacher_id + " onclick='removeClass(this)' class='button round blue image-right ic-right-arrow text-upper'>Show My Classes &nbsp;</a></td>";
              html+="</tr>";
            }

            tbody.innerHTML = html
          }

      });

  }
    </script>

    <style>
      #search-teacher-form fieldset {
        border: 1px solid gray;
        float: left;
        margin-bottom: 15px;
        padding: 0px;
        float: none;
      }
      #search-teacher-form legend {
        color: #abda0f;
        font-size: 14px;
        font-weight: 100;
        margin-left: 14px;
        padding: 2px;
        width: initial;
        margin-bottom: initial;
        border-style: none;
      }

      #search-teacher-form fieldset input {
        color: #505050;
        float: left;
        margin-right: 5px;
        width: 215px;
        padding: 6px;
        font-size: 14px;
        border: 1px solid #d9dbdd;
        outline: medium none;
      }

      #search-teacher-form table td{
        border-left: none;
      }

      #registration input[type="text"], input[type="password"], textarea {
        border: 1px solid #d9dbdd;
        outline: medium none;
        padding: 0.5em 0.225em;
      }
      input[type="submit"] {
        margin-left: 37%;
      }
      table th:first-child {
        border-style: none none none !important;
      }

      #dropdown-actions{
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        width: 205px;
        text-align: center;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      a{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <!-- HEADER -->
    <div id="header-with-tabs">

      <div class="page-full-width cf">

        <ul id="tabs" class="fl">
          <li><a href="/teacher/manage_teachers_dashboard" class="dashboard-tab">Dashboard</a></li>
          <li><a href="/teacher/index" class="active-tab">Teachers</a></li>
        </ul> <!-- end tabs -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 30px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">

      <div class="page-full-width cf">

        <div class="side-menu fl">

          <h3>Task</h3>
          <ul>
            <li><a href="/teacher/select_from_employees/">Select From Employees</a></li>
            <li><a href="/teacher/add_teacher/">Add Teacher</a></li>
            <li><a href="/teacher/edit_teacher/">Edit Teacher</a></li>
            <li><a href="/teacher/assign_class/">Assign Class</a></li>
            <li><a href="/teacher/remove_class/">Remove Class</a></li>
            <li><a href="/teacher/assign_subjects">Assign Subjects</a></li>
            <li><a href="/teacher/teacher_stats">Teacher Stats</a></li>
            <li><a href="/teacher/filter_teachers">Filter Teachers By</a></li>
          </ul>

        </div> <!-- end side-menu -->

        <div class="side-content fr">

          <div class="content-module">

            <div class="content-module-heading cf">

              <h3 class="fl">Remove Class</h3>
              <span class="fr expand-collapse-text">Click to collapse</span>
              <span class="fr expand-collapse-text initial-expand">Click to expand</span>

            </div> <!-- end content-module-heading -->


            <div class="content-module-main">
              <% if flash[:notice] %>
                  <div class="confirmation-box round">
                    <%= flash[:notice] %>
                  </div>
                <% end %>
                <% if flash[:error] %>
                  <div class="error-box round">
                      <%= flash[:error] %>
                  </div>
                <% end %>

              <form id="search-teacher-form" action="#">
                <fieldset>
                  <legend>Search</legend>
                  <div style="margin-left:2%;">
                    <table>
                      <tr>
                        <td style="width:10%; font-size: 13pt;">Name</td>
                        <td style="width:20%;"><input type="text" id="name_search"/></td>
                        <td style="width:10%; text-align: center; font-size: 13pt;"><span>Gender</span></td>
                        <td style="width:24%">
                          <select id="dropdown-actions" class="gender_search">
                            <option value="">[Select Gender]</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                          </select>
                        </td>
                        <td><a onclick="loadSearchResults();" class="button round blue image-right ic-search text-upper">Search</a></td>
                      </tr>
                    </table>
                  </div>
                </fieldset>
              </form>
              
              <table>

                <thead>

                  <tr>
                    <th style="min-width:15%;">Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Date Of Birth</th>
                    <th>Phone #</th>
                    <th>Date of Join</th>
                    <th style="min-width:12%;">Action</th>
                  </tr>

                </thead>

                <tbody id="teachers">
                  <% @teachers.each do |teacher| %>
                  <tr>
                    <td style="text-align:left; padding: 0.833em 0 0.833em 1.25em;"><%= teacher.fname.capitalize.to_s + ' ' + teacher.lname.capitalize.to_s %></td>
                    <td><a href="#"><%=  teacher.email %></a></td>
                    <td><%=  teacher.gender %></td>
                    <td><%=  teacher.dob.to_date.strftime("%d-%b-%Y") %></td>
                    <td><%=  teacher.phone %></td>
                    <td><%=  teacher.created_at.strftime("%d-%b-%Y") %></td>
                    <td>
                      <a teacher_id="<%= teacher.id %>" onclick="removeClass(this)" class="button round blue image-right ic-right-arrow text-upper">Show My Classes &nbsp;</a>
                    </td>
                  </tr>
                  <% end %>
                </tbody>

              </table>

            </div> <!-- end content-module-main -->

          </div> <!-- end content-module -->

        </div> <!-- end side-content -->

      </div> <!-- end full-width -->

    </div> <!-- end content -->

    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("zebra_datepicker") %>
    <script>
      $('.date-picker').Zebra_DatePicker({
            view : 'years',
            direction: ['<%=  (Date.today - 70.years).strftime("%Y-%m-%d") %>', '<%=  (Date.today - 12.years).strftime("%Y-%m-%d") %>']
      });
    </script>
  </body>
</html>