<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>User Authentication</title>

    <!-- Stylesheets -->
    <%= javascript_include_tag("script") %>
    <%= stylesheet_link_tag("style") %>
    <%= javascript_include_tag("jquery-1.9.1.min") %>
    <%= javascript_include_tag("jquery.confirm") %>
    <%= javascript_include_tag("bootstrap") %>
    <%= stylesheet_link_tag("bootstrap") %>
    <!-- Optimize for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      .modal-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.2em;
        color: #317eac;
      }

      .cancel{
        display: none;
      }

      form input[type="text"], input[type="password"], textarea {
    border: 1px solid #d9dbdd;
    outline: medium none;
    padding: 4px;
    font-size: 14pt !important;
}
    </style>
  </head>
  <body>

    <!-- TOP BAR -->



    <!-- HEADER -->
    <div id="header">

      <div class="page-full-width cf">

        <div id="login-intro" class="fl">

          <h1>Welcome to <%= @school_name.value rescue "Unknown School"  %></h1>
          <h5>Enter your credentials below</h5>

        </div> <!-- login-intro -->

        <!-- Change this image to your own company's logo -->
        <!-- The logo will automatically be resized to 39px height. -->
        <a href="#" id="company-branding-small" class="fr"><%= image_tag("/admin/school_logo", :alt => 'Logo Missing')%></a>

      </div> <!-- end full-width -->

    </div> <!-- end header -->



    <!-- MAIN CONTENT -->
    <div id="content">
      <form action="/user/authenticate" method="POST" id="login-form">

        <fieldset>

          <p>
            <label for="login-username">username</label>
            <input name="username" type="text" id="login-username" class="round full-width-input" autofocus />
          </p>

          <p>
            <label for="login-password">password</label>
            <input name="password" type="password" id="login-password" class="round full-width-input" />
          </p>

          <p>I've <a href="#">forgotten my password</a>.</p>

          <input  type="submit" class="button round blue image-right ic-right-arrow" value="LOG IN"/>

        </fieldset>
      </form>

    </div> <!-- end content -->

    <% if flash[:error] || flash[:notice] %>
      <script>
        jQuery.confirm({
          title:"Message",
          text:"<%= (flash[:error] || flash[:notice]) %>",
          confirm: function(button) {
          },
          cancel: function(button) {

          },
          confirmButton: "Okay",
          cancelButton: "No"
        });
      </script>
    <% end %>
    <!-- FOOTER -->
    <div id="footer">

      <p>&copy; Copyright 2015 <a href="#">BlueHosting, LLC</a>. All rights reserved.</p>

    </div> <!-- end footer -->

  </body>
</html>